:root {
  --primary-color: #987876;
  --secundary-color: #098765;
  --header-size: 4rem;
  --font: 1.8rem;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  width: 100vw;
  height: 15vh;
  background-color: var(--primary-color);
}

main {
  width: 100vw;
  height: 70vh;
  font-size: var(--font);
}

h1 {
  font-size: var(--header-size);
  color: var(--secundary-color);
}

footer {
  width: 100vw;
  height: 15vh;
  background-color: var(--secundary-color);
}
